body {
  margin: 0;
  background-color: lightgray;
  font-family: "Times New Roman", serif;
  text-align: center;
}

header {
  background-color: bisque;
  border: 4px solid indigo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

h1 {
  color: darkgreen;
  font-size: 42px;
}

nav {
  background-color: lightskyblue;
  padding: 15px;
}

nav a {
  color: darkred;
  font-weight: bold;
  text-decoration: none;
  margin: 0 50px;
}

h2 {
  color: black;
  font-size: 28px;
}

p {
  color: indigo;
  font-size: 20px;
  margin: 25px;
}

.livros {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 30px;
}

.livros img {
  width: 220px;
  height: 330px;
}

.midias {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 30px;
}

table {
  margin: auto;
  border: 4px dashed red;
  border-collapse: collapse;
}

th {
  color: red;
}

td, th {
  border: 2px solid red;
  padding: 12px;
}

.sites {
  background-color: yellow;
  width: 430px;
  margin: 40px auto;
  text-align: left;
  padding: 10px;
}

.sites p,
.sites li {
  color: black;
  font-size: 16px;
}

footer {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

footer img {
  width: 80px;
}

footer p {
  color: black;
  font-family: "Comic Sans MS", cursive;
  font-size: 18px;
}